<h1><%= @key1 %> <%= @hashy.OurFetch(@key1) %></h1>
<h1><%= @key2 %> <%= @hashy.OurFetch(@key2) %></h1>
<h1><%= @key3 %> <%= @hashy.OurFetch(@key3) %></h1>
<h1>Length of OurHash: <%= @hashy.OurLength() %></h1>
<p>
  <a href="/">Back</a>
</p>
